In [1]:
import numpy as np
import pandas as pd

In [17]:
import chardet
with open('spam.csv', 'rb') as rawdata:
    result = chardet.detect(rawdata.read(100000))
result

{'encoding': 'Windows-1252', 'confidence': 0.7270322499829184, 'language': ''}

In [19]:
df = pd.read_csv('spam.csv',encoding='ISO-8859-1')

In [21]:
df.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [25]:
df.sample(5)

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
4667,ham,IM REALY SOZ IMAT MY MUMS 2NITE WHAT ABOUT 2MORO,NaN,NaN,NaN
1068,spam,Someone U know has asked our dating service 2 ...,NaN,NaN,NaN
5237,spam,Someonone you know is trying to contact you vi...,NaN,NaN,NaN
5199,ham,Ugh my leg hurts. Musta overdid it on mon.,NaN,NaN,NaN
3001,ham,"Excellent, I'll see what riley's plans are",NaN,NaN,NaN

In [27]:
df.shape

(5572, 5)

In [30]:
# 1. Data Cleaning
# 2. EDA
# 3. Text Preprocessing
# 4. Model Building
# 5. Evaluation
# 6. Improving
# 7. Website
# 8. Deploy

# Data Cleaning

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   v1          5572 non-null   object
 1   v2          5572 non-null   object
 2   Unnamed: 2  50 non-null     object
 3   Unnamed: 3  12 non-null     object
 4   Unnamed: 4  6 non-null      object
dtypes: object(5)
memory usage: 217.8+ KB

In [36]:
# drop last 3 columns
df.drop(columns=['Unnamed: 2','Unnamed: 3','Unnamed: 4'], inplace = True)

In [38]:
#rename the columns
df.rename(columns={'v1':'target','v2':'text'},inplace=True)

In [40]:
df.head()

  target                                               text
0    ham  Go until jurong point, crazy.. Available only ...
1    ham                      Ok lar... Joking wif u oni...
2   spam  Free entry in 2 a wkly comp to win FA Cup fina...
3    ham  U dun say so early hor... U c already then say...
4    ham  Nah I don't think he goes to usf, he lives aro...

In [42]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()

In [44]:
df['target'] = encoder.fit_transform(df['target'])

In [46]:
df.head()

   target                                               text
0       0  Go until jurong point, crazy.. Available only ...
1       0                      Ok lar... Joking wif u oni...
2       1  Free entry in 2 a wkly comp to win FA Cup fina...
3       0  U dun say so early hor... U c already then say...
4       0  Nah I don't think he goes to usf, he lives aro...

In [48]:
df.isnull().sum()

target    0
text      0
dtype: int64

In [50]:
df.duplicated().sum()

403

In [52]:
df = df.drop_duplicates(keep='first')

In [54]:
df.duplicated().sum()

0

# EDA